<div class="fltrt">
  <div class="rt-back">
    <div><%= link_to 'Back to Dashboard', root_path %></div>
  </div>
</div>
<h2>New book</h2>
<div class="clearfloat"></div>
<div><%= render 'form' %></div><br/><br/>
<div></div>
